:root {
    --lavender-100: #f5f2fa;
    --lavender-200: #e6def2;
    --lavender-300: #cbbfe8;
    --lavender-400: #AD9EDC;
    --lavender-500: #8f7ccf;
    --lavender-700: #5a4a9c;
    --text-main: #2f2a3a;

    --lavender-700-border: #5a4a9c7e;

    --header-height: 100px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background: var(--lavender-100);
    color: var(--text-main);
    line-height: 1.6;
}

header {
    background-color: var(--lavender-700);
    padding: 1rem 4rem 1rem;
    text-align: left;
    display: flex;
    position: sticky;
    top:0;
    height: var(--header-height);
    z-index: 1;
}

[id]{
    scroll-margin-top: calc(var(--header-height) + 10px);
}

header h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--lavender-200);
    margin-bottom: 0.5rem;
}

header .nav {
    margin-left: auto;
    display: flex;
    text-align: center;
}

header .nav a, header .nav div {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: var(--lavender-400);
    font-weight: 500;
    text-align: left;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

header .nav div a{
    padding: 0.5em;
    border:none;
}

header .nav a:hover {
    text-decoration: underline;
    color: var(--lavender-200);
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    gap: 3rem;
}

section {
    background: white;
    border-radius: 16px;
    padding: 2rem 2.5rem;
    padding-top: 0px;
    box-shadow: 0 2px 8px var(--lavender-700-border);
    position: relative;
}

section span {
  position: relative;
  top: -15px;
  color: var(--lavender-700);
  text-shadow: 0 1px 3px rgba(red, green, blue, 0.5);
  font-size: large;
}

section div{
    display: flex;
}

section div section{
    padding: 1rem 1.25rem;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
}

section h2 {
    font-size: 1.8rem;
    color: var(--lavender-700);
    margin-bottom: 1rem;
}

section h3 {
    font-size: 1.3rem;
    color: var(--lavender-500);
    margin-bottom: 1rem;
}

.about p {
    font-size: 1.05rem;
}

.skills ul {
    list-style: none;
}

.skills li {
    background: var(--lavender-100);
    padding: 0.2rem 0.4rem;
    text-align: center;
    font-weight: 500;
    margin-right: 0.5em;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
    box-shadow: 0 2px 8px var(--lavender-700-border);
}

.skill {
    background: white;
    border-radius: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 2rem 2.5rem;
    padding-top: 0px;
    box-shadow: 0 2px 8px var(--lavender-700-border);
}

.skill h2{
    width: 15%;
}

.skill-btn{
    display: flex;
}

.levels{
    display: grid;
    grid-template-columns:
        minmax(100px, 1fr)
        minmax(200px, 1.5fr)
        minmax(300px, 2.25fr);
    width: 85%;
}

.skill-btn{
    border:none;
    background-color: var(--lavender-200);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--lavender-700-border);
}

.skill-btn:hover{
    filter: brightness(105%);
    box-shadow: 0 2px 8px var(--lavender-700-border);
    cursor: pointer;
}

.skill-btn:active{
    filter: brightness(95%);
}

.skill-btn h2{
    margin: 0;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: content-box;

}

.contact {
    text-align: center;
}

.contact a {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.4rem;
    border-radius: 999px;
    background: var(--lavender-500);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.2s ease;
}

.contact a:hover {
    background: var(--lavender-700);
}

footer {
    margin-top: 4rem;
    padding: 2rem;
    text-align: center;
    color: #7a7390;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    header h1 {
    font-size: 2.2rem;
    }

    section {
    padding: 1.5rem 1.5rem;
    }
}